<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1">
        <link rel="stylesheet" href="./rotate.css">
    </head>
    <body>
        <header>
            <h1>Page Title</h1>
        </header>
        <hr />
            <div class="container">
                <% for i in (1..400) %>
                    <div class="circle"></div>
                <% end %>
            </div>
        <section>
            <article>
                Larger Left Column
            </article>
            <aside>
                Smaller Right Column
            </aside>
        </section>
        <hr />
        <footer>
            <section>
                © 2020, Alonso Araujo
            </section>
        </footer>
    </body>
</html>
